.preview, #animHolder object{
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black; 
    width:80px;
    height:80px;
}

#img{
    width: 80px;
    padding: 0;
    margin:0;
}

#previews .span3{
    margin-left: 10px;
}

.link{
    display: none;
}