{% extends 'layout.html' %}

{% block page_title %} {{ title }} {% endblock %}

{% block styles %}
<link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
<style type="text/css">
    body {
        padding-top: 60px;
    }
</style>
{% endblock %}

{% block top_bar%}
<ul class="nav">
    <li class="active"><a href="#overview">Overview</a></li>
    <li><a href="#popovers">Conversor</a></li>
    <li><a href="#javascript">Tester</a></li>
    <li><a href="#less">About Me</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <div class="hero-unit">
        <h1>XatTools</h1>
        <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a class="btn primary large" href="./index.php/conversor/">Conversor &raquo;</a>
        <a class="btn info large" href="./index.php/tester/">Tester &raquo;</a></p>
    </div>
</div>
{% endblock %}